/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	Body
*/
body{
 background: none transparent;

}
/*
    State hidden
*/
div.hidden-on-collapse{
    display: none;
}

/*
    Top Header
*/
div#top-header{

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 340px;
    height: 40px;
    margin: auto;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    position: relative;
    margin-bottom: -50px;
}

/*
    Large album container
*/
div#top-large-album{
    width: 340px;
    height: 370px;
    margin: auto;
    z-index: 0;
}

/*
    Large Album Art
*/
img#large-album-art{
    width: 340px;
    height: 370px;
    border-radius: 5px;
}

/*
	Small Player
*/
div#small-player{
	width: 345px;
	height: 45px;
	left: -30px;
	background-color: #ffffff;
	border-radius: 5px;
    margin: auto;
    z-index: 99999;
    position: relative;
}

/*
   Small Player Left
*/
div#small-player-left{
    height: 45px;
    width: 25px;
    float: left;
}

/*
    Expand and Contract Album Art
*/
div.small-player-toggle-expand{
    background-image: url('../images/iTunes-Expand.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    margin-top: 27px;
	display:none;
}

div.small-player-toggle-contract{
    background-image: url('../images/iTunes-Contract.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    position: absolute;
    bottom: 6px;
	display: none;
}

/*
    Small Player Album Art
*/
img#small-player-album-art{
    width: 45px;
    height: 45px;
    float: left;
}

/*
    Small Player Middle
*/
div#small-player-middle{
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 260px;
    height: 30px;
    float: left;
    cursor: pointer;
}
div#small-player-middle-top{
    width: 260px;
    float: left;
    height: 30px;
}
div#small-player-middle-bottom{
    width: 260px;
    float: left;
}

/*
    Small Player Middle Meta
*/
div#small-player-middle-controls{
    display: none;
    width: 72px;
    margin: auto;
}
/*
    Small Player Right
*/
div#small-player-right{
    width: 25px;
    float: left;
}

/*
    Playlist Icon
*/
div#toggle-playlist{
    background-image: url('../images/black-playlist.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 15px;
    margin-top: 13px;
    cursor: pointer;
	display:none;
}
div#toggle-playlist-full{
    background-image: url('../images/black-playlist.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
}

/*
    Small Player Full Bottom
*/
div#small-player-full-bottom{
    padding-top: 5px;
    margin-top: -45px;
}

/*
    Small Player Full Bottom Controls
*/
div#small-player-full-bottom-controls{
    width: 72px;
    margin: auto;
}

/*
    Small Player Full Bottom Info
*/
div#small-player-full-bottom-info{
    margin: auto;
    margin-top: -7px;
    width: 350px;
    clear: both;
}
div#small-player-full-bottom-info span.current-time{
    display: block;
    float: left;
    margin-top: -3px;
    margin-right: 3px;
}
div#small-player-full-bottom-info span.time-duration{
    display: block;
    float: left;
    margin-top: -3px;
    margin-left: 3px;
}
/*
    Previous
*/
div#middle-top-previous{
    height: 20px;
    width: 23px;
    cursor: pointer;
    background-image: url('../images/black-prev.png');
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 8px;
    margin-right: 3px;
	display:none;
}
div#middle-bottom-previous{
    height: 20px;
    width: 23px;
    cursor: pointer;
    background-image: url('../images/black-prev.png');
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 8px;
    margin-right: 3px;
	display:none;
}
/*
    Play Pause
*/
div#middle-top-play-pause.amplitude-play-pause{
    height: 23px;
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
    float: left;
}
div#middle-top-play-pause.amplitude-paused{
    background-image: url('../images/black-play.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
div#middle-top-play-pause.amplitude-playing{
    background-image: url('../images/black-pause.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

div#small-player-bottom-play-pause.amplitude-play-pause{
    margin: auto;
    height: 23px;
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
    float: left;
}
div#small-player-bottom-play-pause.amplitude-paused{
    background-image: url('../images/black-play.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
div#small-player-bottom-play-pause.amplitude-playing{
    background-image: url('../images/black-pause.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

/*
    Next
*/
div#middle-top-next{
    height: 20px;
    width: 23px;
    cursor: pointer;
    background-image: url('../images/black-next.png');
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 8px;
    margin-left: 3px;
	display: none;
	
}
div#middle-bottom-next{
    height: 20px;
    width: 23px;
    cursor: pointer;
    background-image: url('../images/black-next.png');
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 8px;
    margin-left: 3px;
	display: none;
}
/*
    Song Time Visualization
*/
div#song-time-visualization{
    width: 260px;
    height: 0px;
    background-color: #bebebe;
}
div#song-time-visualization div.amplitude-song-time-visualization-status{
    background-color: #676261;
    height: 5px;
}

div#song-time-visualization-large{
    width: 304px;
    height: 5px;
    background-color: #bebebe;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
div#song-time-visualization-large div.amplitude-song-time-visualization-status{
    background-color: #676261;
    height: 5px;
}

/*
    Now Playing Information
*/
div.now-playing-title{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 18px;
    color: #676261;
    line-height: 20px;
}
div.album-information{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    color: #bebebe;
}
/*
    Current song time
*/
span.current-time{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 10px;
    color: #676261;
	display: none;
}

/*
   Duration
*/
span.time-duration{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 10px;
    color: #676261;
}

/*
    Playlist
*/
div#small-player-playlist{
    width: 340px;
    height: 40px;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f4f4f4;
    padding-top: 15px;
    height: 200px;
    overflow-y: scroll;
    display: none;
}
div.information{
    padding: 0px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 20px;
    color: #676261;
}
/*
    Playlist Items
*/
div.playlist-item{
    padding: 5px 20px;
    cursor: pointer;
    clear: both;
}
div.playlist-item.amplitude-active-song-container{
    background-color: #eee;
}
div.playlist-item img.album-art{
    width: 45px;
    height: 45px;
    float: left;
}
div.playlist-meta{
    float: left;
    padding-left: 10px;
    padding-top: 8px;
}
